/* Error: expected "}".
 *    ,
 * 78 |   --menu-item-hover: var(--color-gray-4);
 *    |                                          ^
 *    '
 *   source/theme-white.scss 78:42  @import
 *   source/index.scss 5:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 78 \2502    --menu-item-hover: var(--color-gray-4);\a    \2502                                           ^\a    \2575 \a   source/theme-white.scss 78:42  @import\a   source/index.scss 5:9          root stylesheet';
}
