// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// HEADER

.cp__header {
  a {
    color: var(--ls-link-text-color);

    &:hover {
      cursor: pointer;
    }
  }

  // add important to override hover style in dark theme
  a[title="Go back"] {
    margin-right: var(--space-2);
  }

  // 0.125rem
  a[title="Go forward"] {
    margin-left: var(--space-2);
  }
}

[data-type="toolbar"] {
  filter: grayscale(1);
}