// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// MAIN CONTENT

//----//----//----//----//----//
// Layout 

.cp__sidebar-main-content {
  width: 100%;
}

#main-content-container .file {
  margin: 0 auto;
}

//----//----//----//----//----//
// Links 

a h1.title,
.page-ref,
.external-link {
  text-decoration: none;
  transition: ease all 200ms;
  padding-right: 0;
  border-bottom-style: solid;
  border-bottom-width: var(--space-1);

  &:hover {
    color: var(--ls-link-text-hover-color);
    border-color: var(--ls-link-text-hover-border);
    background: none;
  }
}

a h1.title {
  color: var(--page-title-link-color);
  border-color:var(--page-title-link-border);
}

.page-ref,
.external-link {
  color: var(--ls-link-text-color);
  border-color: var(--ls-link-text-border);
}

.page-ref {
  // border: none;

  // &::before {
  //   content: '[';
  //   display: inline-block;
  //   padding-right: 2px;
  // }
  // &::after {
  //   content: ']';
  //   display: inline-block;
  //   padding-left: 2px;
  // }
}

.page-reference {
  div>.page-ref {
    border-bottom-style: solid;
    border-bottom-width: var(--space-1);
  }
  
  .bracket + div>.page-ref {
    border: none;
  }

  .bracket {
    color: var(--page-ref-bracket-color);
    opacity: 1;
    transition: ease all 200ms;
  }

  &:hover {
    .bracket {
      color: var(--page-ref-bracket-hover);
    }
  }
}

a:hover>.bullet-container {
  background-color: var(--ls-block-bullet-border-color);

  .bullet {
    background-color: var(--ls-block-bullet-color);
  }
}

.cp__sidebar-main-content {
  h1.title,
  .ls-page-title.title {
    display: inline-block;
    padding: 0;
  }
}

.dark-theme .content .external-link,
.white-theme .content .external-link {
  &:hover {
    color: var(--ls-link-text-hover-color);
    border-color: var(--ls-link-text-hover-color-border);
    background: none;
  }
}

//----//----//----//----//----//
// Page references 

.references .foldable-title h2 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-3);
}

.references-blocks .color-level {
  background-color: var(--ls-block-properties-background-color);

  .page-properties {
    background-color: var(--ls-block-properties-background-color);
  }
}

.rotating-arrow a svg {
  color: var(--ls-icon-color);
}

.page-reference {
  &:hover {
    background: none;
  }
}

//----//----//----//----//----//
// Tags 

a.tag {
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-3);
  // margin: var(--space-2) var(--space-0);
  font-size: var(--font-size-2);
  color: var(--ls-tag-text-color);
  background-color: var(--bf-tag-background-color);
  opacity: 1;

  &:hover {
    background-color: var(--bf-tag-background-hover-color);
  }
}

//----//----//----//----//----//
// Code

:not(pre):not(mark)>code {
  padding: var(--space-3) var(--space-4) !important;
}

// :not(pre)>code {
  // font-size: var(--font-size-3);
  // font-family: MonoLisa,'Fira Code',Monaco,Menlo,Consolas,'COURIER NEW',monospace;
// }