// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// HEADINGS

h1 {
  font-size: var(--font-size-6); // 32px
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-1); // 112%
  color: var(--ls-title-text-color);
}

h2,
h1.title {
  font-size: var(--font-size-4); // 20px
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-4); // 140%
  color: var(--ls-title-text-color);
}

h3 {
  font-size: var(--font-size-3); // 16px
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-5); // 150%
  color: var(--ls-title-text-color);
}


a h1.title,
.page-ref,
.external-link {
  color: var(--ls-link-text-color);
  text-decoration: none;
  border-bottom: var(--space-1) solid var(--ls-link-text-color-border);
  transition: ease all 200ms;
  padding-right: 0;

  &:hover {
    color: var(--ls-link-text-hover-color);
    border-color: var(--ls-link-text-hover-color-border);
    background: none;
  }
}

a.tag {
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-3);
  // margin: var(--space-2) var(--space-0);
  font-size: var(--font-size-2);
  color: var(--ls-tag-text-color);
  background-color: var(--bf-tag-background-color);
  opacity: 1;

  &:hover {
    background-color: var(--bf-tag-background-hover-color);
  }
}

.page-reference {
  &:hover {
    background: none;
  }
}

::selection,
#app-single-container ::selection {
  background: var(--ls-selection-background-color);
}

// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// MENU

.absolute-modal {
  background-color: var(--menu-background);
  border: var(--menu-border);
  border-radius: var(--radius-4);

  &.shadow-lg {
    box-shadow: var(--menu-shadow);
  }
}

a.menu-link {
  background: var(---menu-item-background);
  color: var(--menu-item-text-color);

  &:hover {
    background-color: var(--menu-item-hover);
    color: var(--menu-item-text-color);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--space-0);
    border-bottom-right-radius: var(--space-0);
  }

  &:first-of-type {
    border-top-left-radius: var(--space-0);
    border-top-right-radius: var(--space-0);
  }
}

.ui__ac-group-name {
  color: var(--menu-group-name-color);
  border-bottom: var(--menu-group-name-border);
  font-size: var(--font-size-2);
  letter-spacing: var(--space-1);
  padding: var(--space-6) var(--space-6) var(--space-5);
  margin-bottom: var(--space-4);
}

// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// PAGE REFERENCES

.references .foldable-title h2 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-3);
}

.references-blocks .color-level {
  background-color: var(--ls-block-properties-background-color);

  .page-properties {
    background-color: var(--ls-block-properties-background-color);
  }
}

.rotating-arrow a svg {
  color: var(--ls-icon-color);
}

.cp__header {
  a {
    color: var(--ls-link-text-color) !important;
  }

  // add important to override hover style in dark theme
  a[title="Go back"] {
    margin-right: var(--space-2);
  }

  // 0.125rem
  a[title="Go forward"] {
    margin-left: var(--space-2);
  }
}

.dark-theme .content .external-link,
.white-theme .content .external-link {
  &:hover {
    color: var(--ls-link-text-hover-color);
    border-color: var(--ls-link-text-hover-color-border);
    background: none;
  }
}

[data-type="toolbar"] {
  filter: grayscale(1);
}

a:hover {
  &>.bullet-container {
    background-color: var(--ls-block-bullet-border-color);

    .bullet {
      background-color: var(--ls-block-bullet-color);
    }
  }
}

.cp__sidebar-main-content {

  h1.title,
  .ls-page-title.title {
    display: inline-block;
    padding: 0;
  }
}