// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// Dark theme

.dark-theme,
html[data-theme="dark"] {
  /* BACKGROUNDS */
  --ls-primary-background-color: var(--color-gray-90);
  --ls-secondary-background-color: var(--color-gray-80);
  --ls-tertiary-background-color: var(--color-gray-70);
  --ls-quaternary-background-color: var(--color-gray-60);

  /* TEXT */
  --ls-primary-text-color: var(--color-gray-20); // main text
  --ls-secondary-text-color: var(--color-gray-70);
  --bf-strong-text-color: var(--color-gray-5);
  --ls-head-text-color: #ffe27c;

  /* LINKS */
    // default
    --ls-link-text-color: var(--color-blue-20);
    --ls-link-text-border: var(--color-blue-60);

    // page title links
    --page-title-link-color: var(--color-gray-5);
    --page-title-link-border: var(--color-gray-60);

    // page ref brackets
    --page-ref-bracket-color: var(--color-gray-60);
    --page-ref-bracket-hover: var(--color-blue-60);

    // hover
    --ls-link-text-hover-color: var(--color-blue-40);
    --ls-link-text-hover-border: var(--color-blue-40);

    // dunno
    --ls-active-secondary-color: var(--color-blue-40);
    --ls-menu-hover-color: var(--ls-tertiary-background-color);
  
  /* BORDERS */
  --ls-border-color: var(--color-gray-80);

  /* TAGS */
  --ls-tag-text-color: var(--color-gray-5);
  --ls-tag-text-hover-color: var(--color-gray-5);
  --bf-tag-background-color: var(--color-highlight-dark-gray);
  --bf-tag-background-hover-color: var(--color-blue-40);

  /* BULLETS */
  --ls-icon-color: var(--color-gray-10); 
  --ls-block-bullet-color: var(--ls-icon-color);
  --ls-block-bullet-border-color: var(--color-blue-40);
  --ls-block-bullet-active-color: var(--color-gray-5);
  --ls-block-bullet-threading-width: var(--space-2);
  --ls-guideline-color: var(--color-gray-70);

  /* HIGHLIGHT */
  --ls-selection-background-color: var(--color-gray-70);
  --ls-block-highlight-color: var(--ls-selection-background-color);

  /* CHECKBOXES */
  --ls-page-checkbox-color: var(--color-blue-40);
  --ls-page-checkbox-border-color: var(--ls-primary-background-color); // orig

  /* BLOCKQUOTE */
  --ls-page-blockquote-border-color: var(--ls-primary-text-color); // orig

  /* CODE */
  --ls-page-inline-code-color: var(--color-gray-10);
  --ls-page-inline-code-bg-color: var(--color-blue-80);

  /* references-blocks */
  --ls-block-properties-background-color: var(--color-gray-80);

  /* MENU */
  --menu-group-name-color: var(--color-gray-30);

  --menu-background: var(--color-gray-80);
  --menu-border: 1px solid var(--color-gray-70);
  --menu-shadow: 0 3px 6px var(--color-gray-100);

  --menu-group-name-color: var(--color-gray-30);
  --menu-group-name-border: 1px solid var(--color-gray-60);

  --menu-item-background: var(--color-gray-80);
  --menu-item-text-color: var(--color-gray-5);
  --menu-item-hover: var(--color-gray-70);
  --menu-item-focus: var(--color-blue-20);

  /* MODALS */
  --modal-shim-cover: var(--color-gray-100);

  /* LEFT SIDEBAR */
  --left-sidebar-text: var(--color-gray-5);
  --left-sidebar-item-hover: var(--color-gray-70);
  --left-sidebar-item-active: var(--color-gray-70);
  --left-sidebar-item-selected-accent: var(--color-gray-0);
  --left-sidebar-section-dividers: var(--color-gray-70);
}
